# database
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
# django settings
SECRET_KEY=<secret_key>
DJANGO_SETTINGS_MODULE=<path_to_settings_file>
RENDER_EXTERNAL_HOSTNAME=<domain>
# email settings
EMAIL_HOST=<email_host>
EMAIL_PORT=<email_port>
EMAIL_HOST_USER=<email_host_user>
EMAIL_HOST_PASSWORD=<email_host_password>
DEFAULT_FROM_EMAIL_SMTP=<default_from_email_smtp>
# groq
GROQ_API_KEY=<groq_api_key>
