Django==6.0.5
django-allauth==65.17.0
django-anymail==15.0
django-environ==0.13.0
django-htmx==1.27.0

groq==1.2.0

python-dotenv==1.2.2

requests==2.34.2
resend==2.30.1

whitenoise==6.12.0

gunicorn==26.0.0
uvicorn==0.48.0
