<div class="fixed inset-0 -z-50 overflow-hidden">

    <div class="absolute inset-0 bg-[#050816]"></div>

    <div
        class="
        absolute

        top-[-10%]
        left-[-10%]

        h-[900px]
        w-[900px]

        rounded-full

        bg-cyan-400/30
        mix-blend-screen

        blur-[180px]

        animate-float
    "
    ></div>

    <div
        class="
        absolute

        right-[-20%]
        top-[10%]

        h-[1000px]
        w-[1000px]

        rounded-full

        bg-violet-600/30

        blur-[220px]

        animate-float-delayed
    "
    ></div>

    <div
        class="
        absolute

        bottom-[-20%]
        left-[20%]

        h-[700px]
        w-[700px]

        rounded-full

        bg-blue-500/20

        blur-[180px]

        animate-float-slow
    "
    ></div>

</div>

<div
class="
absolute

top-[15%]
left-[40%]

w-[900px]
h-[900px]

rounded-full

bg-indigo-500/10

blur-[300px]

animate-float-slow
"
></div>