{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}AI Mood Tracker{% endblock %}
    </title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Inter:wght@300;400;500;600&display=swap"
          rel="stylesheet">
    <!-- Libraries -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block script_place %}{% endblock %}
    <!-- Styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <link rel="icon"
          type="image/png"
          sizes="96x96"
          href="{% static "favicon/favicon-96x96.png" %}">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
  </head>
  <body>
    {% include "includes/background.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
