{% load static %}

<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <!-- Meta -->

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            AI Mood Tracker
        {% endblock %}
    </title>

    <!-- Fonts -->

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >

    <!-- Styles -->

    <link
        rel="stylesheet"
        href="{% static 'css/styles.css' %}"
    >

    <!-- Frontend Libraries -->

    <!-- Tailwind -->

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- Alpine -->

    <script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.11/dist/cdn.min.js"
    ></script>

    <!-- HTMX -->

    <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"
    ></script>

</head>
<body class="relative min-h-screen overflow-hidden">
  <div class="fixed inset-0 -z-50">
    {% include "includes/background.html" %}
  </div>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>